* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #808080;
    font-family: 'Merriweather', serif;
}
.header {
    border-bottom: 0.125rem solid aqua;
}
.header__container {
    max-width: 120em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
}
h1 {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: aqua;
    text-shadow: 0.125rem 0.5rem 0.125rem  #23222293;
    margin-top: 1.3em;
}
.main {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 120em;
    padding-top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}
.accordion {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.accordion_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 37.7em;
}
@media (max-width: 900px) {
    .accordion_item {
        width: 100%;
    }
}
.item_wrapper {
    padding: 1rem;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 115%;
    display: flex;
    align-items: center;
    border-radius: 1.25rem;
    border: 0.0625rem solid  rgb(97, 190, 190);
}
.item_wrapper img {
    width: 1.5rem;
}
.accordion_title {
    font-size: 1.3rem;
    color: ghostwhite;
    text-shadow: 0.125rem 0.125rem 0.125rem  #23222293;
}
@media (max-width: 900px) {
    .accordion_title {
        font-size: 1rem;
    }
}
@media (max-width: 400px){
    .accordion_title {
        font-size: 0.8rem;
    }
}
.item_wrapper:hover {
    cursor: pointer;
    background-color:  rgb(109, 195, 195);
    transform: 0.3s ease-out;
}
.accordion_input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}
.accordion_images {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    width: 0;
    height: 0;
}
.accordion_item:hover .item_wrapper img {
    transform: rotate(273deg);
}
.accordion_item:hover .accordion_images {
    width: 85%;
    height: auto;
    transition: 1.3s;
}

.accordion_input:checked ~ .item_wrapper {
    background-color:  rgb(109, 195, 195);
}
.accordion_item:checked ~ .item_wrapper img {
    width: 1.5rem;
    transform: rotate(-45deg)
}
.accordion_input:checked ~ .accordion_images {
    width: 85%;
    height: auto;
    transition: 0.5s ease-out;
}